/*.ui.form input[type=text],.ui.form input[type=email],.ui.form input[type=password]{*/
/*    border:1px solid #BFBABE;*/
/*}*/
/*.ui.form .eight.wide.field{*/
/*    width:100% !important;*/
/*}*/
/*.ui.text.container{*/
/*    width:500px;*/
/*    padding:40px;*/
/*    text-align:center;*/
/*    margin:70px;*/
/*}*/
/*.ui.inverted.green.button, .ui.inverted.green.buttons .button{*/
/*    width:100%;*/
/*    font-size:20px;*/
/*    padding:10px;*/
/*}*/
body{
    /*background-image: radial-gradient(circle, #eef8ee, #dbe4db, #c8d0c8, #b6bdb6, #a4aaa4);*/
    background-image: radial-gradient(circle, #eef8ee, #daf7da, #c7f6c6, #b2f4b2, #9df29d);
}
.title{
    text-align: center;
    padding-top:150px;
    text-shadow: 1px 1px 3px #696969, 1px 1px 5px #808080, 1px 1px 7px #A9A9A9;
    font-size: 50px;
}
.form-control{
    border-color: #696969;
}
label{
    font-weight: bold;
    font-size: 15px;
}