/************START-NAVBAR-STYLING***************/
.nav-item {
	margin: 0 10px;
	font-size: 20px;
}
.navbar-brand{
	margin: 0 10px;
	font-size: 22px;
}
/*i{*/
/*	color: green;*/
/*}*/
/************END-NAVBAR-STYLING***************/
